# picture
*.jpg
*.png

# movie
*.mp4
*.avi

# 例外の動画
!/data/undistort/normal/*
!/data/undistort/new/*

!/data/origin_movie/*

!/data/undistort_showbox/01_camera1/*
!/data/undistort_showbox/01_camera2/*

!/data/undistort_tracking/01_camera1/*
!/data/undistort_tracking/01_camera2/*

# specific JSON file
/program/utility/c1_json/*.json
/program/utility/c2_json/*.json

/program/02_3D_Coord/c1_json/*.json
/program/02_3D_Coord/c2_json/*.json
/program/02_3D_Coord/output/*.json

/program/03_plot_coord/input_data/*.json

/program/06_change_ID/origin_c1/*.json
/program/06_change_ID/origin_c2/*.json

/program/06_change_ID/track_c1/*.json
/program/06_change_ID/track_c2/*.json

/program/07_3d/output/*.json

/program/10_full_search/output/*.json

/program/11_plot_coord/input/*.json