# picture
*.jpg
*.png

# movie
*.mp4
*.avi

# 例外の動画
!/data/undistort/normal/*
!/data/undistort/new/*

!/data/origin_movie/*

# specific JSON file
/program/03_plot_coord/input_data/*.json

/program/06_change_ID/origin_c1/*.json
/program/06_change_ID/origin_c2/*.json

/program/06_change_ID/track_c1/*.json
/program/06_change_ID/track_c2/*.json

/program/07_3d/output/*.json

/program/10_full_search/output/*.json

/program/11_plot_coord/input/*.json